body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

img {
    width: 200px; /* Sesuaikan ukuran foto dengan kebutuhan */
    height: 200px; /* Sesuaikan ukuran foto dengan kebutuhan */
    border-radius: 50%; /* Membuat foto menjadi lingkaran */
    margin-bottom: 20px;
}

.deskripsi {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
